{{> navbar_partial }}

<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Profile for {{user.displayName}}</h2>
    </div>
</section>

<!-- {{!-- modal pop up begins here --}} -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register a Bike</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/register" method="post">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" name="username" value="{{user.username}}">
                    </div>
                    <div class="md-form mb-5">
                        <input type="text" name="bikeNickname" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="bikeNickname">Bike Nickname</label>
                    </div>
                    <div class="md-form mb-5">
                        <input type="text" name="color" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="color">Color</label>
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="brand" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="brand">Brand</label>
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="model" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="model">Model</label>
                    </div>
                    <div class="md-form mb-4">
                        <input type="text" name="serialNumber" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="serialNumber">Serial Number</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-deep-orange" value="Submit" id="addbike">Register Bike</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Register
        a Bike</a>
</div>

<div class="text-center">
<div hidden id="username">{{user.username}}</div> {{!-- required to add a new bike --}}
{{#if bikes}}
    <h3>Registered Bikes</h3>
    {{#each bikes}}
    <p>
    Nickname: {{bikeNickname}}<br>
    Brand: {{brand}}<br>
    Model: {{model}}<br>
    Color: {{color}}<br>
    Serial Number: {{serialNumber}}<br>
    {{#if stolen}}
        <span class="text-danger">STOLEN</span>
    {{else}}
        <form action="/bikestolen" method="post">
            <button type="submit" class="btn text-danger border border-danger my-1 py-0" value="Submit" id="{{bikeNickname}}">Report Stolen</button>
        </form>
    {{/if}}
    </p><br>
    {{/each}}
{{/if}}


    <button class="input-btn">Resources Here</button>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Register
        Another Bike</a>
</div>

{{!-- <script src="js/bikeRegistration.js"></script> --}}


{{> footer_partial }}


