{{> navbar_partial }}

<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Your Registered Bikes</h2>
    </div>
</section>

<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">

        <div class="col-lg-6 col-sm-7 wow fadeInUp delay-05s">
            <div class="profile">
                <div id="sendmessage">Thank you for registering your bike. It has been updated to our database.</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="registerForm">
                    <div class="form-group">
                        <input type="text" name="userName" class="form-control input-text" id="userName" placeholder="Your User Name"
                            data-rule="minlen:4" data-msg="Please enter your username." />
                        <p>username: {{user.username}}</p>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text" name="bikeNickname" id="bikeNickname"
                            placeholder="Your Bike's Nickname" data-rule="minlen:4" data-msg="Please enter at least 4 letters for the bike bikeNickname." />
                        <p>displayName: {{user.displayName}}</p>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text" name="email" id="email" placeholder="Email"
                            data-rule="minlen:4" data-msg="Please enter at least 4 characters for the bike email." />
                        <p>email: {{user.email}}</p>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="input-btn">Sign Up</button></div>

                    {{#each bikes}}
                    Nickname: {{bikeNickname}}<br>
                    Brand: {{brand}}<br>
                    Model: {{model}}<br>
                    Color: {{color}}<br>
                    Serial Number: {{serialNumber}}<br>
                    <hr>
                    {{/each}}

                </form>
            </div>
        </div>
    </div>

</section>
</div>

{{> footer_partial }}